doctype
html
  head
  title templates_pug
  body
    div
      ul#ul1(title="hahahf")
        for item in arr
          li= item
      ol.box1.box2
       - arr.forEach(item=>{
          li= item
       - })
    h2= a + b
    h3 手动阀沙发发
    div
      p.
        内容 内容 内容 内容 内容 内容
        内容 内容 内容 内容 内容 内容
        内容 内容 内容 内容 内容 内容
        内容 内容 内容 内容 内容 内容
